{% extends 'base.html' %}
{% block title %}
    Success
{% endblock title %}
{% block body %}
<main>
<section  class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Success</h2>
        <p>Your Respective Score in GRE, TOEFL, CGPA,SOP,LOR and Research will get u inthe University of your choosen rating.  
        </p>
      </div>

      <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-5">
          <div class="about-img">
            <img src="../static/assets/img/chance.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-7">
          <h3 class="pt-0 pt-lg-5">Apt Student</h3>
          <!-- Tabs -->
          <ul class="nav nav-pills mb-3">
            <li>
              <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Take Smart Decision</a>
            </li>
            <li>
              <a class="nav-link" data-bs-toggle="pill" href="#tab2">Attentive Learners</a>
            </li>
           
          </ul>
        </div>
      </div>
    </div>
</section>
</main>       
          <!-- End Tabs --> 
{% endblock body %}
