{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block body %}

<section id="hero-animated" class="hero-animated d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
    data-aos="zoom-out">
    <h2>Welcome to
      <span>PRE</span>dict
    </h2>
    <p>MAKE SMART AND EDUCATIVE DECISIONS.</p>
    <p>
      Predict is a prediction tool for students and learners. It helps you make timely decisions without wasting time on
      repetitively sending University application.</p>
    <div class="d-flex">
      <a href="predict.html" class="btn-get-started scrollto">Start Predicting!</a>
    </div>
  </div>
</section>

<main id="main">

  <!-- ======= Featured  Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-activity icon"></i>
            </div>
            <h4>
              <a href="" class="stretched-link">Analytics Based Prediction</a>
            </h4>
            <p>We help you make an educated decision about your desired University Application with the help of Machine
              Learning Predictions.</p>
          </div>
        </div>
        <!-- End Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles icon"></i>
            </div>
            <h4>
              <a href="" class="stretched-link">Increase Your Chance of Admit</a>
            </h4>
            <p>With Predict, you can "for-tell" your chance of admission to your desired college. Helping you to make
              apt decisions about the number of applications you apply.</p>
          </div>
        </div>
        <!-- End Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar4-week icon"></i>
            </div>
            <h4>
              <a href="" class="stretched-link">Strengthen your Preparations</a>
            </h4>
            <p>Knowing the score required to get into your desired University helps you to increase your timely
              preparations.</p>
          </div>
        </div>
        <!-- End Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-broadcast icon"></i>
            </div>
            <h4>
              <a href="" class="stretched-link">Gain Valuable Insights</a>
            </h4>
            <p>
              With prediction, get instant results that help you make intelligent and accurate decisions about choosing
              your university. Helping you save time and money spent on applications.</p>
          </div>
        </div>
        <!-- End Item -->

      </div>

    </div>
  </section>
  <!-- End Featured  Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <p>We are a group of 5 student creators. We believe that prediction tools with machine learning applications
          will evolve into a modern-day prediction assets to assist students and learners worldwide.
        </p>
      </div>

      <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-5">
          <div class="about-img">
            <img src="../static/assets/img/about-1.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-7">
          <h3 class="pt-0 pt-lg-5">Creative Developers
          <!-- Tabs -->
          <ul class="nav nav-pills mb-3">
            <li>
              <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Computer Science Student</a>
            </li>
            <li>
              <a class="nav-link" data-bs-toggle="pill" href="#tab2">ML Learners</a>
            </li>
            <li>
              <a class="nav-link" data-bs-toggle="pill" href="#tab3">Technologies</a>
            </li>
          </ul>
          <!-- End Tabs -->

          <!-- Tab Content -->
          <div class="tab-content">

            <div class="tab-pane fade show active" id="tab1">

              <p class="fst-italic">We all are Computer Science Students. In our Final year of Bachelor of Engineering. Learning and Leveraging our skills.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Using the initiative by Govt. of Tamil Nadu to Upskill ourself</h4>
              </div>
               <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Through the training and mentor session we learnt about various data science techniques that are used to solve real-uses cases.</h4>
              </div>
              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Using the 100+ hour training class we learnt a lot about real-world project development process</h4>
              </div>
            </div>
            <!-- End Tab 1 Content -->

            <div class="tab-pane fade show" id="tab2">
              <p>Backed with Industry experts we learnt Machine learning, data science and software Engineering processes.
              </p>
              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Learnt Machine learning algorithms</h4>
              </div>
              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Used the acquired knowledge to develop a predicyion model that predicts the Chance of admission of a student</h4>
              </div>
              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>The prediction model is deployed under the IBM cloud space for online use.</h4>
              </div>
            </div>
            <!-- End Tab 2 Content -->

            <div class="tab-pane fade show" id="tab3">

              <p class="fst-italic">Through out the project many new softwares have been used to implement the various syage of project development.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Use of kanban, jira and scrum software/tools for team and project management</h4>
              </div>
              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Used the IBM Cloud Pak and Watson Studion to build and deploy the Model built.</h4>
              </div>
       
              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>The project frontend is made using the HTML, CSS, JavaScript and the Backend is implemented using the Flask, IBM Cloud while integrating both with flask and jinja. </h4>
              </div>
  
            </div>
            <!-- End Tab 3 Content -->

          </div>

        </div>

      </div>

    </div>
  </section>
  <!-- End About Section -->
  <!-- ======= Call To Action Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-out">

      <div class="row g-5">

        <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
          <h3> Make instant prediction of your chance of admission using
            <em>Predict</em>
            and gain educative insights.
          </h3>
          <p>
         Predict's prediction tool instantly generates the percentage of admission chance in a university. Just input your scores and click rest we will take care of. Voila! you are done.</p>
          <a class="cta-btn align-self-start" href="predict.html">Use Prediction Tool</a>
        </div>

        <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
          <div class="img">
            <img src="../static/assets/img/cta.jpg" alt="" class="img-fluid">
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- End Call To Action Section -->

  <!-- ======= On Focus Section ======= -->
  <section id="onfocus" class="onfocus">
    <div class="container-fluid p-0" data-aos="fade-up">

      <div class="row g-0">
        <div class="col-lg-6 video-play position-relative">
        </div>
        <div class="col-lg-6">
          <div class="content d-flex flex-column justify-content-center h-100">
            <h3>Why use the Predictor?</h3>
            <p class="fst-italic">
             The predictive methods proved to shows accurate results.Obtain Predictions within short time frame, which in 
              turn will cut down the time in the admission process.
            </p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i>
                Get instant Feedback about the scores and the result.
              </li>
              <li>
                <i class="bi bi-check-circle"></i>
                Get to know your chance of admission in a univerrsity based on the univrsity cutoff.
              </li>
              <li>
                <i class="bi bi-check-circle"></i>
                 Convinient and Fast. Can be accessed from anywhere and anytime.
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End On Focus Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Features that Define Us</h2>
        <p>We are defined by the following features</p>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="service-item">
            <div class="img">
              <img src="../static/assets/img/services-2.jpg" class="img-fluid" alt="Instant results picture">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Instant results</h3>
              </a>
              <p>The ml model deployed in cloud enabkes the prediction tool genersted instant results. Saving your time.</p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->
        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
          <div class="service-item">
            <div class="img">
              <img src="../static/assets/img/services-5.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Effective ML Algorithms</h3>
              </a>
              <p>The predictor is built with effecient ML algorithms that generates accurate percentage of admisiion chance.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
          <div class="service-item">
            <div class="img">
              <img src="../static/assets/img/services-4.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Educative Decision</h3>
              </a>
              <p>
                Make decisions based on results. Select universities to apply while knowing the chance of admission.
              </p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- End Services Section -->
  <!-- ======= Team Section ======= -->
  <section id="team" class="hero-animated d-flex align-items-start">
    <div class="container" data-aos="fade-up">

      <div  >
        <h2>The Team</h2>
        <p>Under the Naanmudalvan Initiative, the Government of Tamilnadu has launched <strong>Nalaiya Thiran</strong> an experiential project-based learning program, with Anna University as the University Ecosystem Partner, IBM as the Technology Partner, ICT Academy as the Support Partner, and NASSCOM as the Skills Certification Partner.</p>
        <p>We have formed a goup of 5 members to complete projects using agile approaches and with the aid of faculty and industry mentors.</p>
      </div>
    </div>
  </section>
  <!-- End Team Section -->


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-header">
        <h2>Contact Us</h2>
        <p>Ea vitae aspernatur deserunt voluptatem impedit deserunt magnam occaecati dssumenda quas ut ad dolores
          adipisci aliquam.</p>
      </div>

    </div>
    <div class="container">

      <div class="row gy-5 gx-lg-5">

        <div class="col-lg-4">

          <div class="info">
            <h3>Get in touch</h3>
            <p>All feedback about the project, predictor or the website are welcome.</p>

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Location:</h4>
                <p>Aalim Muhammed Salegh College of Engineering</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>
            </div>
            <!-- End Info Item -->

          </div>

        </div>

        <div class="col-lg-8">
          <form action="..static/templates/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
        <!-- End Contact Form -->

      </div>

    </div>
  </section>
  <!-- End Contact Section -->

</main>
<!-- End #main -->
{% endblock  body %}
